<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @donut.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @donut.price %>
</p>

<p>
  <strong>Image:</strong>
  <%= @donut.image %>
</p>

<p>
  <strong>Nutriscore:</strong>
  <%= @donut.nutriscore %>
</p>

<%= link_to 'Edit', edit_donut_path(@donut) %> |
<%= link_to 'Back', donuts_path %>
